# Import Lib

In [54]:
import pandas as pd
import numpy as np

### Check data if it has any null values

In [55]:
sets = pd.read_csv('C:\\Users\\Pearls\\Desktop\\Analyzing or something\\LEGO\\sets.csv')
themes = pd.read_csv('C:\\Users\\Pearls\\Desktop\\Analyzing or something\\LEGO\\themes.csv')
print(themes.info())
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         458 non-null    int64
 1   name       458 non-null    object
 2   parent_id  317 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19988 entries, 0 to 19987
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    19988 non-null  object
 1   name       19988 non-null  object
 2   year       19988 non-null  int64
 3   theme_id   19988 non-null  int64
 4   num_parts  19988 non-null  int64
 5   img_url    19988 non-null  object
dtypes: int64(3), object(3)
memory usage: 937.1+ KB

In [56]:
for col in sets.columns:
    pct_missing = np.mean(sets[col].isnull())
    print('{} - {} %'.format(col, round(pct_missing*100)))

set_num - 0 %
name - 0 %
year - 0 %
theme_id - 0 %
num_parts - 0 %
img_url - 0 %

In [57]:
for col in themes.columns:
    pct_missing = np.mean(themes[col].isnull())
    print('{} - {} %'.format(col, round(pct_missing*100)))

id - 0 %
name - 0 %
parent_id - 31 %

### Question 1 - What is the total number of parts per theme?

##### Merge data

In [58]:
sets_themes = pd.merge(sets,themes, left_on = 'theme_id',right_on='id', how = 'inner',suffixes=('_sets','_themes'))
sets_themes.head()

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN
1,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg,1,Technic,NaN
2,1030-1,TECHNIC I: Simple Machines Set,1985,1,210,https://cdn.rebrickable.com/media/sets/1030-1.jpg,1,Technic,NaN
3,1038-1,ERBIE the Robo-Car,1985,1,120,https://cdn.rebrickable.com/media/sets/1038-1.jpg,1,Technic,NaN
4,1039-1,Manual Control Set 1,1986,1,39,https://cdn.rebrickable.com/media/sets/1039-1.jpg,1,Technic,NaN

In [59]:
num_Parts_per_Theme = sets_themes.groupby('name_themes').sum().reset_index()
num_Parts_per_Theme = num_Parts_per_Theme[['name_themes', 'num_parts']].sort_values('num_parts', ascending = False)
num_Parts_per_Theme

                     name_themes  num_parts
317                      Technic     234807
303                    Star Wars     230447
216                      Ninjago     101854
122                      Friends     101290
346    Ultimate Collector Series      98625
..                           ...        ...
253  Role Play Toys and Costumes          0
233                   Plush Toys          0
6                    Adventurers          0
25          Bag and Luggage Tags          0
235       Posters and Art Prints          0

[372 rows x 2 columns]

### Question 2 - What is the total number of parts per year?

In [60]:
num_parts_per_year = sets_themes.groupby(['year']).sum().reset_index()
num_parts_per_year = num_parts_per_year[['year','num_parts']].sort_values('num_parts',ascending=False)
num_parts_per_year

    year  num_parts
70  2021     265014
71  2022     264685
69  2020     212062
68  2019     191842
66  2017     178360
..   ...        ...
3   1954        117
8   1959         65
2   1953         50
1   1950          6
72  2023          0

[73 rows x 2 columns]

### Question 3 - How many sets were created in each Century in the dataset?

In [61]:
unique_year = sets_themes['year'].unique()
unique_year.sort()
unique_year

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [62]:
sets_themes['century'] = np.where(sets_themes['year'] > 2000,'21th century','20th century')
sets_themes.head(10)

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,century
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN,20th century
1,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg,1,Technic,NaN,20th century
2,1030-1,TECHNIC I: Simple Machines Set,1985,1,210,https://cdn.rebrickable.com/media/sets/1030-1.jpg,1,Technic,NaN,20th century
3,1038-1,ERBIE the Robo-Car,1985,1,120,https://cdn.rebrickable.com/media/sets/1038-1.jpg,1,Technic,NaN,20th century
4,1039-1,Manual Control Set 1,1986,1,39,https://cdn.rebrickable.com/media/sets/1039-1.jpg,1,Technic,NaN,20th century
5,1237-1,Honda Promotional Set,2001,1,56,https://cdn.rebrickable.com/media/sets/1237-1.jpg,1,Technic,NaN,21th century
6,1257-1,Trike Buggy,1999,1,30,https://cdn.rebrickable.com/media/sets/1257-1.jpg,1,Technic,NaN,20th century
7,1258-1,Propellor Buggy,1999,1,29,https://cdn.rebrickable.com/media/sets/1258-1.jpg,1,Technic,NaN,20th century
8,1259-1,Motorbike,1999,1,28,https://cdn.rebrickable.com/media/sets/1259-1.jpg,1,Technic,NaN,20th century
9,1260-1,Car,1999,1,26,https://cdn.rebrickable.com/media/sets/1260-1.jpg,1,Technic,NaN,20th century

In [63]:
sets_created_each_century = sets_themes.groupby('century').count().reset_index()
sets_created_each_century[['century','name_sets']]

        century  name_sets
0  20th century       4971
1  21th century      15017

### Question 4 - What percentage of sets ever released in the 21st Century were Trains Themed?

In [64]:
century_data = sets_themes[sets_themes['century']=='21th century']
train = century_data[century_data['name_themes'].str.contains('Train')]

In [65]:
train.shape[0]

66

In [66]:
century_data.shape[0]

15017

In [67]:
train.shape[0] / century_data.shape[0] *100

0.4395018978491043

### Question 5 - What percentage of sets ever released in the 21st Century were Disney Themed?

In [68]:
disney = century_data[century_data['name_themes'].str.contains('Disney')]
disney

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,century
6267,10509-1,Dusty and Chug,2013,627,16,https://cdn.rebrickable.com/media/sets/10509-1...,627,Disney Planes,504.0,21th century
6268,10510-1,Ripslinger's Air Race,2013,627,40,https://cdn.rebrickable.com/media/sets/10510-1...,627,Disney Planes,504.0,21th century
6269,10511-1,Skipper's Flight School,2013,627,53,https://cdn.rebrickable.com/media/sets/10511-1...,627,Disney Planes,504.0,21th century
6270,10538-1,Fire and Rescue Team,2014,627,30,https://cdn.rebrickable.com/media/sets/10538-1...,627,Disney Planes,504.0,21th century
6278,10515-1,Ariel's Undersea Castle,2013,640,39,https://cdn.rebrickable.com/media/sets/10515-1...,640,Disney Princess,504.0,21th century
...,...,...,...,...,...,...,...,...,...,...
19401,71024-5,Louie,2019,677,8,https://cdn.rebrickable.com/media/sets/71024-5...,677,Disney Series 2,535.0,21th century
19402,71024-6,Scrooge McDuck,2019,677,8,https://cdn.rebrickable.com/media/sets/71024-6...,677,Disney Series 2,535.0,21th century
19403,71024-7,Chip,2019,677,6,https://cdn.rebrickable.com/media/sets/71024-7...,677,Disney Series 2,535.0,21th century
19404,71024-8,Dale,2019,677,5,https://cdn.rebrickable.com/media/sets/71024-8...,677,Disney Series 2,535.0,21th century
19405,71024-9,Elsa,2019,677,7,https://cdn.rebrickable.com/media/sets/71024-9...,677,Disney Series 2,535.0,21th century

In [69]:
disney.shape[0]

188

In [70]:
disney.shape[0] / century_data.shape[0] * 100

1.2519144969035092

### Question 6 - What is the popular theme by year in terms of sets released in the 21st Century?

In [71]:
themes_by_year = sets_themes.groupby(['year','name_themes']).count().reset_index()
themes_by_year = themes_by_year[['year','name_themes','set_num']].sort_values('set_num',ascending=False)
themes_by_year.drop_duplicates('year').sort_values('year', ascending = False)

      year        name_themes  set_num
2496  2023             Avatar        5
2431  2022              Books       57
2376  2021               Gear      128
2287  2020            Friends       59
2247  2019  The LEGO Movie II       64
...    ...                ...      ...
9     1955       Supplemental       21
5     1954       Supplemental       12
4     1953       Supplemental        3
2     1950       Supplemental        6
1     1949             System        3

[73 rows x 3 columns]

### Question 7 - What is the most produced color of lego ever in terms of quantity of parts?

In [72]:
colors = pd.read_csv('C:\\Users\\Pearls\\Desktop\\Analyzing or something\\LEGO\\colors.csv')
colors

       id                  name     rgb is_trans
0      -1             [Unknown]  0033B2        f
1       0                 Black  05131D        f
2       1                  Blue  0055BF        f
3       2                 Green  237841        f
4       3        Dark Turquoise  008F9B        f
..    ...                   ...     ...      ...
212  1086            Pearl Lime  6A7944        f
213  1087            Duplo Pink  FF879C        f
214  1088          Medium Brown  755945        f
215  1089              Warm Tan  CCA373        f
216  9999  [No Color/Any Color]  05131D        f

[217 rows x 4 columns]

In [73]:
inventory = pd.read_csv('C:\\Users\\Pearls\\Desktop\\Analyzing or something\\LEGO\\inventory_parts.csv')
inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...
2,1,stickerupn0077,9999,1,f,NaN
3,1,upn0342,0,1,f,NaN
4,1,upn0350,25,1,f,NaN
...,...,...,...,...,...,...
1072147,154761,4744pr0048,4,1,f,https://cdn.rebrickable.com/media/parts/photos...
1072148,154761,4744pr0049,1,1,f,https://cdn.rebrickable.com/media/parts/photos...
1072149,154761,4745,14,1,f,https://cdn.rebrickable.com/media/parts/ldraw/...
1072150,154761,4747,4,1,f,https://cdn.rebrickable.com/media/parts/ldraw/...
1072151,154761,4748,4,2,f,https://cdn.rebrickable.com/media/parts/ldraw/...

In [74]:
inventory_color = inventory.merge(colors,right_on = 'id', left_on = 'color_id',how = 'left')
inventory_color

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1072147,154761,4744pr0048,4,1,f,https://cdn.rebrickable.com/media/parts/photos...,4,Red,C91A09,f
1072148,154761,4744pr0049,1,1,f,https://cdn.rebrickable.com/media/parts/photos...,1,Blue,0055BF,f
1072149,154761,4745,14,1,f,https://cdn.rebrickable.com/media/parts/ldraw/...,14,Yellow,F2CD37,f
1072150,154761,4747,4,1,f,https://cdn.rebrickable.com/media/parts/ldraw/...,4,Red,C91A09,f
1072151,154761,4748,4,2,f,https://cdn.rebrickable.com/media/parts/ldraw/...,4,Red,C91A09,f

In [75]:
popular_color = inventory_color.groupby(['name'])['quantity'].sum().reset_index()
popular_color.sort_values('quantity',ascending=False)

                     name  quantity
1                   Black    680584
58      Light Bluish Gray    411007
199                 White    400523
23       Dark Bluish Gray    286480
137                   Red    268923
..                    ...       ...
144           Rust Orange         1
68              Light Tan         1
49   Glitter Trans-Orange         1
41        Fabuland Orange         1
36     Duplo Medium Green         1

[204 rows x 2 columns]